<div class="container mt-2">
  <ng-container *ngIf="customers | async as customerList; else failureOrLoading">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Customers</h5>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers | async">
              <td>{{ customer.id }}</td>
              <td>{{ customer.name }}</td>
              <td>{{ customer.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="alert alert-danger">
        <!-- <strong>Error!</strong> Unable to load customers. -->
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="alert alert-info">
        <strong>Loading...</strong> Please wait.
      </div>
    </ng-template>
  </ng-template>
</div>
